*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .flex {
    display: flex;
  }
  body {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
  }
  .fondo {
    background-image: url("../imagenes/poster.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }
  .separador {
    height: 250px;
  }
  #header {
    background-color: white;
  }
  .content {
    background-color: #f3f2f2;
    padding: 20px;
  }
  .container-fluid {
    width: 100%;
  }
  .container {
    width: 1300px;
    margin: 0 auto 0 auto;
  }
  .top2 {
    border-bottom: 1px solid;
  }
  .fila {
    display: flex;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .menu ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .menu li {
    list-style: none;
  }
  .menu li a {
    color: black;
    text-decoration: none;
  }
  .menu-top1 {
    margin-bottom: 10px;
  }
  .menu-top1 ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
  }
  .menu-top1 ul li {
    padding: 0 10px 0 10px;
  }
  .menu-top1 ul li:last-child {
    border-left: 1px solid grey;
  }
  .menu-top1 ul li a {
    color: grey;
  }
  .menu-top1 ul li a:hover {
    text-decoration: underline;
  }
  .logo_mini {
    width: 40px;
  }
  .logo {
    width: 500px;
  }
  .logo img {
    width: 100%;
    padding: 0 50px 0 50px;
  }
  .menu-top2 {
    width: 100%;
  }
  .menu-top2 li {
    width: 100%;
    text-align: center;
  }
  .menu-top2 li:hover {
    background-color: #ebe800;
  }
  .menu-principal {
    width: 100%;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
  }
  .menu-principal li {
    width: 100px;
    margin: 0 0px 0 0px;
    padding: 5px;
    text-align: center;
  }
  .menu-principal li:hover {
    background-color: #0076ec;
  }
  .menu-principal li:hover a {
    color: white;
  }
  .menu-principal li a {
    color: #0076ec; 
  }
  .filtro {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .boton {
    display: inline-block;
    padding: 5px;
    margin: 10px;
    font-family: "Oswald", sans-serif;
  }
  .boton-blanco {
    background-color: white;
    text-decoration: none;
    color: #0076ec; 
  }
  .boton-blanco:hover {
    background-color: #0076ec;
    color: white;
  }
  .boton-azul {
    background-color: #0076ec;
    color: white;
  }
  .color-azul {
    color: #0076ec;
  }
  .fichas {
    display: flex;
    flex-wrap: wrap;
  }
  .ficha {
    width: 250px;
    border: 1px solid #d5d5d5;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    font-family: "Oswald", sans-serif;
  }
  .ficha h3 {
    margin: 10px 0 10px 0;
    color: #0076ec;
  }
  .ficha-img img {
    width: 100%;
  }
  .estrellas {
    margin-top: 10px;
    color: #fff10e;
  }
  .ficha-botton {
    margin-top: 10px;
  }
  h3 {
    color: #004987;
    margin-bottom: 10px;
  }
  .col {
    width: 80%;
  }
  .col ul li {
    list-style: none;
  }
  .col ul li a {
    text-decoration: none;
    color: #808080;
  }
  footer {
    margin: 0 20px 40px 20px;
  }
  .iconos {
    display: flex;
    justify-content: center;
  }
  .iconos ul {
    width: 600px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
  }
  .menu-bottom {
    padding: 70px;
  }
  .azulejo i{
    color: #004987;
  }
  